___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [8]:
def lesser_of_two_evens(a,b):
    
    for num in a,b:
        if a % 2 == 0 and b % 2 == 0:
            if a > b:
                return b
            if b > a:
                return a 
        
        elif a % 2 != 0 or b % 2 != 0:
            if a >b:
                return a 
            if b>a:
                return b  
    pass

In [10]:
# Check
lesser_of_two_evens(2,4)

2

In [11]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [25]:
def animal_crackers(text):
    wordlist = text.split()
    return wordlist[0][0] == wordlist[1][0]

In [26]:
# Check
animal_crackers('Levelheaded Llama')

True

In [27]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [37]:
def makes_twenty(n1,n2):
    return (n1+n2) == 20 or n1 == 20 or n2 == 20

In [38]:
# Check
makes_twenty(20,10)

True

In [39]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [61]:
def old_macdonald(name):
    
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'

In [62]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [76]:
def master_yoda(text):
    wordList = text.split()
    return ' '.join(wordList[::-1])

In [77]:
# Check
master_yoda('I am home')

'home am I'

In [78]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [83]:
def almost_there(n):
    
    if n in range(90,111):
        return True
    elif n in range(190,211):
        return True
    else:
        return False

In [87]:
# Check
almost_there(90)

True

In [85]:
# Check
almost_there(150)

False

In [86]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [126]:
def has_33(nums):
    for n in nums:
        if nums[n:n+2] == [3,3]:
            return True
        else:
            return False

In [127]:
# Check
has_33([1, 3, 3])

True

In [128]:
# Check
has_33([1, 3, 1, 3])

False

In [129]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [164]:
def paper_doll(text):
    
    n_text = ' '
    
    for x in text:
        n_text += x*3    
        
    return n_text

In [165]:
# Check
paper_doll('Hello')

' HHHeeellllllooo'

In [166]:
# Check
paper_doll('Mississippi')

' MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [211]:
def blackjack(a,b,c):
    
    hand = a,b,c
    
    if sum(hand) <= 21:
        return sum(hand)
    if sum(hand) <= 31 and 11 in hand:
        return sum(hand) - 10
    else:
        return "BUST"

In [212]:
# Check
blackjack(5,6,7)

18

In [213]:
# Check
blackjack(9,9,9)

'BUST'

In [214]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [227]:
def summer_69(arr):
    total = 0 
    add = True 
    
    for num in arr:
        
        while add:
            if num != 6:
                total += num
                break 
            else:
                add = False
                   
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [228]:
# Check
summer_69([1, 3, 5])

9

In [229]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [230]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [245]:
def spy_game(nums):
    
    for x in nums:
        T1 = False
        T2 = False 
        T3 = False
        
        n = nums.index(x)
        
        
        if x == 0:
            T1 = True
        if nums[n+1] == 0 : 
            T2 = True
        if nums[n+2] == 7 : 
            T3 = True 
            
        if T1 == True and T2 == True and T3 == True : 
            return True
        else:
            return False

In [246]:
# Check
spy_game([1,2,4,0,0,7,5])

False

In [247]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [248]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    pass

In [ ]:
# Check
count_primes(100)

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!