___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [9]:
def lesser_of_two_evens(a,b):
    
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [10]:
# Check
lesser_of_two_evens(2,4)

2

In [11]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [318]:
def animal_crackers(text):
    wrdList = text.lower().split()
    
    return wrdList[0][0] == wrdList[1][0]

In [319]:
# Check
animal_crackers('Levelheaded Llama')

True

In [320]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [15]:
def makes_twenty(n1,n2):
    
    # is 20 ?
    for n in n1,n2 : 
        if n == 20 :
            return True 
    
    # == 20 ? 
    if (n1 + n2) == 20 :
        return True 
    
    # != 20 ?
    else :
        return False

In [16]:
# Check
makes_twenty(20,10)

True

In [18]:
# Check
makes_twenty(17,3)

True

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [74]:
def old_macdonald(name):
    
    n4 = name[3].swapcase()
    
    name1 = name.capitalize() #Macdonald
    name2 = name1.replace(name1[3],n4,1) #MacDonald...
 
    return  name2

In [75]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [89]:
def master_yoda(text):
    
    text_list = text.split()
    text_list.reverse()
    
    new_text = ' '.join(text_list)
         
    return new_text

In [90]:
# Check
master_yoda('I am home')

'home am I'

In [91]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [104]:
def almost_there(n):
   
    if n in range (90,111) :
        return True
    elif n in range(190,211):
        return True
    else:
        return False

In [105]:
# Check
almost_there(90)

True

In [106]:
# Check
almost_there(150)

False

In [107]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [331]:
def has_33(nums): #CORRECTED
    
    for x in range(0, len(nums)-1) :
        
        
        if nums[x] == 3 and nums[x+1] == 3 : 
            return True 
        
        
    return False

In [332]:
# Check
has_33([1, 3, 3])

True

In [333]:
# Check
has_33([1, 3, 1, 3])

False

In [334]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [336]:
def paper_doll(text):
    
    trip_text = ''
    
    for x in text :
        trip_text += (x*3)     
    
    return trip_text

In [337]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [338]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [211]:
def blackjack(a,b,c):
    
    hand = [a,b,c]
    hand_count = (a+b+c)
    
    # sum <= 21 ---> sum 
    if hand_count <= 21 : 
        return hand_count
    
    # sum > 21, 11 in input, ---> sum - 10     
    elif hand_count > 21 : 
        
        if 11 in hand  : #check for an ace
            aced = hand_count - 10 #reduce the ace 
            
            if aced <= 21 :
                return aced 
            
            else :
                return 'BUST'
            
        else :
            return 'BUST'

In [215]:
# Check
blackjack(5,6,7)

18

In [216]:
# Check
blackjack(9,9,9)

'BUST'

In [217]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [244]:
def summer_69(arr):
    
    num_list = []
    
    add = True 
    
    for num in arr :
        if num == 6 : 
            add = False
            continue
            
        if add == True : 
            num_list.append(num)
            
        if num == 9 :
            add = True 
            continue  
       
    return sum(num_list)

In [245]:
# Check
summer_69([1, 3, 5])

9

In [246]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [247]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [256]:
def spy_game(nums):
    
    bond = []

    for x in nums : 
        if x == 0 or x == 7:
            bond.append(x)    
        else: 
            pass
        
    if bond == [0,0,7] :
        return True 
    else:
        return False

In [257]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [258]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [259]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [309]:
def count_primes(num):
    
    numbers = set(range(num,1,-1))              # establish range up to and including input
    prime_count = []                           # collect numbers that return True 
    
    for x in numbers :
        
        no = True
        
        if x  == 2 :               # grabs 2 
            prime_count.append(x)
            continue 
            
        if x == 3 :                # grabs 3 
            prime_count.append(x)
            continue 
    
        if x % 2 == 0 :            # bars all even numbers 
            no = True
            continue 
            
        for i in numbers :         #ERROR nested for loop. PURPOSE divide current iteration of x by every integer in range, 
            if (x % i) < 0 :         # RESASON any odd numbers that divide by any other integer with a remainder of zero are by definition not prime.
                no = False            
                        
        if no == False :           # no is True until a prime number is detected. 
            prime_count.append(x)  # add x to prime_count if no is still False 
             
        
    return list(prime_count)

In [310]:
# Check
count_primes(100)

[2, 3]

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [1]:
def print_big(letter):
    alphabet = {'a':'  *  \n'' * * \n''*****\n''*   *\n''*   *', 'b': '***  \n''   * \n''***  \n''  * \n''***  ', 'c': ' *** \n''*   *\n''*    \n''*   *\n'' *** ', 
             'd': '***  \n''*   * \n''*   *\n''*   * \n''***  ', 'e': '*****\n''*    \n''**** \n''*    \n''*****'}
    
    if letter in dict.keys(alphabet) :
        return alphabet[letter]

In [2]:
print_big('a')

'  *  \n * * \n*****\n*   *\n*   *'

## Great Job!